.register__little-button {
  border:0;
  background-color: black;
  color:#FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor:pointer;
  transition: opacity 0.2s linear;
  text-decoration: none;
  margin-left: 5px;
}

.register__little-button:hover {
  opacity: 0.6;
}
