.popup__content-profile {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 900px) {
.popup__content-profile {
  width: 88%;
}
}
